:root {
    --primary: #9a1f40;
    --primary-light: #d9455f;

    --secondary: #74d4c0;
    --secondary-light: #def4f0;

    --peach: #ffa69e;

    --w: #fff;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(0, 0, 0, 0.06);
}

/* $bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-x-small: 31.25em; // 500px */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem=10px,
10px/16px=62.5% // @media only screen and (max-width: $bp-large) {
//     font-size: 50%;
// } */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--primary);
    background-color: var(--secondary-light);
    /* background-image: linear-gradient(to right bottom, var(--secondary-light), var(--secondary)); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: auto;

    /* box-shadow: 12px 0 15px -4px var(--secondary), -12px 0 8px -4px var(--secondary); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);

    padding: 1rem 0;
}

@media only screen and (max-width: 900px) {
    .navbar {
        padding: .5rem 0;
    }
}

@media only screen and (max-width: 650px) {
    .navbar {
        padding: .3rem 0;
    }
}

.header__logo {
    width: 6rem;
    margin-left: 2rem;
}

@media only screen and (max-width: 900px) {
    .header__logo {
        width: 5rem;
        margin-left: 1rem;
        margin-top: .5rem;
    }
}

.user-nav {
    display: flex;
    align-items: stretch;

    /* background-color: #fff; */

    list-style: none;
    text-decoration: none;
}

.user-nav__item {
    align-self: center;
    padding: 2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 650px) {
    .user-nav__item {
        padding: .3rem 0;
    }
}

.user-nav__link {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary);
    text-decoration: none;
}

@media only screen and (max-width: 650px) {
    .user-nav__link {
        font-size: 1.25rem;
    }
}

.hero {
    height: 40rem;

    display: flex;
}

@media only screen and (max-width: 650px) {
    .hero {
        height: 60rem;

        flex-direction: column-reverse;
    }
}

.hero-text-box {
    background-color: var(--w);

    color: var(--primary);
    font-size: 4rem;
    font-weight: 300;

    flex-basis: 50%;

    display: flex;
    flex-direction: column;
}

.hero-text-box__text {
    margin-left: 8rem;

    display: flex;
    flex-direction: column;

}

.hero-text__top {
    margin-top: 8rem;
}

@media only screen and (max-width: 650px) {
    .hero-text__top {
        font-size: 3rem;
    }
}

.hero-text__bottom {
    margin-top: -2rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 650px) {
    .hero-text__bottom {
        font-size: 3rem;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }
}

.hero-text-box__paragraph {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-right: 5rem;
}

@media only screen and (max-width: 650px) {
    .hero-text-box__paragraph {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-right: 5rem;
    }
}

.hero-image-box {
    flex-basis: 50%;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
}

.hero-image__large {
    width: 90%;
    align-self: center;
}

@media only screen and (max-width: 650px) {
    .hero-image__large {
        margin-top: 3rem;
        width: 70%;
        align-self: center;
    }
}

.section-about {
    background-color: var(--peach);
    color: var(--w);

    height: 30rem;

    display: flex;
}

.section-about__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-about__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-about__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.section-services {
    height: 50rem;
    background-color: #fff;


    display: flex;
    align-items: stretch;

    justify-content: space-evenly;
}

.section-services__service-box {
    flex-basis: 20%;

    margin-top: 7.5rem;
}

.section-services__service-image-box {
    width: 100%;
    margin-bottom: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-services__service-image {
    width: 100%;
}

.section-services__service-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
    .section-services__service-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .section-services__service-title {
        font-size: 1.6rem;
    }
}

.section-services__service-description {
    font-size: 1.5rem;
}


@media only screen and (max-width: 900px) {
    .section-services__service-title-description {
        font-size: 1.25rem;
    }
}

.section-feature-1 {
    background-color: var(--peach);
    color: var(--w);

    padding: 5rem 0;
    height: auto;

    display: flex;
}

.section-feature-1__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-feature-1__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-feature-1__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.section-feature-2 {
    background-color: var(--w);
    color: var(--primary);

    padding: 5rem 0;
    height: auto;

    display: flex;
}

.section-feature-2__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-feature-2__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-feature-2__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.section-feature-3 {
    background-color: var(--peach);
    color: var(--w);

    padding: 5rem 0;
    height: auto;

    display: flex;
}

.section-feature-3__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-feature-3__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-feature-3__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.section-start {
    background-color: var(--w);
    color: var(--primary);

    padding: 5rem 0;
    height: auto;

    display: flex;
}

.section-start__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-start__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-start__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.section-contact {
    background-color: var(--peach);
    color: var(--w);

    padding: 5rem 0;
    height: auto;

    display: flex;
}

.section-contact__textbox {
    width: 85%;
    margin: auto;

    display: flex;
    flex-direction: column;
}

.section-contact__about {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-contact__paragraph {
    font-size: 2.25rem;
    line-height: 135%;
}

.footer {
    background-color: var(--w);
    padding: 5rem 0;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__logo {
    width: 10rem;

    flex-basis: 25%;
}

.footer__textbox {
    color: var(--primary);
    font-size: 1.2rem;

    flex-basis: 75%;

    transition: all .5s;
}

.footer__textbox:hover {
    color: var(--primary-light);
}